@page
@model OdeToFood.Pages.Restauraunts.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Restauraunts</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <span class="glpyhicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restauraunt in Model.Restauraunts)
    {
        <tr>
            <td>@restauraunt.Name</td>
            <td>@restauraunt.Location</td>
            <td>@restauraunt.Cuisine</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail"
                   asp-route-restaurauntId="@restauraunt.Id">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </a>
                <a class="btn btn-lg"
                   asp-page="./Edit"
                   asp-route-restaurauntId="@restauraunt.Id">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a class="btn btn-lg"
                   asp-page="./Delete"
                   asp-route-restaurauntId="@restauraunt.Id">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Add New</a>

@section footer  {
    <div>@Model.Message</div>
}