@page
@model OdeToFood.Pages.R2.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restauraunt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restauraunt.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restauraunt.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Restauraunt.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restauraunt.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Restauraunt.Cuisine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Restauraunt.Cuisine)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Restauraunt.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
